@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.sectionAbout {
    display: flex;
    flex-direction: row;
    transition: opacity 0.3s ease;

  }

  .sectionAbout a {
   transition:all .3s ease-out;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
  }
  .aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  
  }

  .aside2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .subtitle{ 
    font-family: "Righteous", sans-serif;
  }

  .playButton {
    width: 14rem;
    height: 4rem;
    font-size: 1.75rem;
    padding: 1rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 1.5rem;
    box-sizing: border-box;
    font-family: "Righteous", sans-serif;
  }
  
  .playButton:before {
    content: "";
    background: linear-gradient(
      45deg,
      #0a4d02,
      #031a03,
      #015808,
      #081603,
      #125a12b7,
      #093b03
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .playButton:active {
    color: #f5f5f5;
  }
  
  .playButton:active:after {
    background: transparent;
  }
  
  .playButton:hover:before {
    opacity: 1;
  }
  
  .playButton:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .playButton:hover {
    transform: scale(1.5);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .playButton:focus {
    outline: none;
  }