@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.sectionAbout {
  display: flex;
  flex-direction: row;
  transition: opacity 0.3s ease;
}

.sectionAbout a {
  transition: all 0.3s ease-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}



.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}



.aside2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.subtitle {
  font-family: "Righteous", sans-serif;
}

.playButton {
  width: 14rem;
  height: 4rem;
  font-size: 1.75rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: #000000;
  background: #111111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 3.5rem;
  box-sizing: border-box;
  font-family: "Righteous", sans-serif;
  /* pulse button */
}

.playButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #a6a6a6,
    #b4b4b4,
    #004606,
    #191919,
    #092c09b7,
    #031701
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.playButton:active {
  color: #c7c6c6;
}

.playButton:active:after {
  background: transparent;
}

.playButton:hover:before {
  opacity: 1;
}

.playButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.playButton:hover {
  transform: scale(1.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.playButton:focus {
  outline: none;
}


.aside h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight:900; 
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .aside h2 {
    font-size: 1rem;
  }
  .glitchText {
    font-size: 50%;
  }
  
}

.glitchText {
  position: relative;
  color: #fff;
  transition: text-shadow 0.3s ease-in-out;
}

.glitchText:hover {
  text-shadow: 
    -2px 2px 0 red,
    2px -2px 0 blue,
    -2px 2px 0 green,
    2px -2px 0 yellow;
/* scale */
  transform: scale(1.1);

}
