.sectionAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background-color: aquamarine;
  overflow: auto;
}
