.playButton {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.playButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.playButton:active {
  color: #000;
}

.playButton:active:after {
  background: transparent;
}

.playButton:hover:before {
  opacity: 1;
}

.playButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.playButton:hover {
  transform: scale(1.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.playButton:focus {
  outline: none;
}

.playContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* gradiente DARK background */
  background-image: radial-gradient(
    circle,
    #24232c,
    #1b1a23,
    #12111c,
    #090910,
    #000000
  );
}

.mainContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.247);
  width: 100%;
  color: #ffffff;
  margin-top: 0;
  z-index: 2;
  gap: 3.5rem;
}

.mainContent > section {
  display: flex;
  min-height: calc(100vh - 7rem);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 6.5rem;
}

@media (max-width: 1024px) {
  .mainContent {
    padding: 0 1.2rem;
    gap: 2.2rem;
  }
  .mainContent > section {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .mainContent {
    padding: 0 0.5rem;
    gap: 1.2rem;
  }
  .mainContent > section {
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .mainContent {
    padding: 0 0.2rem;
    gap: 0.7rem;
  }
  .mainContent > section {
    margin-bottom: 0.5rem;
  }
}