.header {
  display: flex;
  z-index: 1000;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin laterais de 40px no header em rem */
  padding: 0rem 2.5rem;
  box-sizing: border-box;
  /*deixar header tranparente */
  background-color: transparent !important;
}
