.header {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  min-height: 6rem;
  display: flex;
  z-index: 1000;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.5rem;
  box-sizing: border-box;
  background-color: transparent !important; /* Já está definido para ser transparente */

}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
}

@keyframes rotateLogo {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(6deg);
  }
}

.logotipo {
  width: 75%;
  animation: rotateLogo 10s linear infinite;
}

.logotipo:hover {
  animation: none;
}
.blur {
  filter: blur(5px);
}