.navbar{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    
}

.navbarList{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    
}

/* remover ponto list  e hove */
.navbarList li{
    list-style: none;
}

.navbarList a{
    text-decoration: none;
    color: #ffffff;
}

.navbarList a:hover{
    color: #f1c40f;
}