@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 3rem;
  background-color: #f1f1f10e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(221, 218, 218);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.25rem;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn:hover {
  /* florescente */
  background-color:    #012504;
  cursor: pointer;
  transition: 0.5s;
  color: rgb(212, 212, 212);
  transform: scale(1.2);
  font-weight: bold;
}
