@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;
  color: white;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", sans-serif;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  width: 96%;
  border: 1px solid #eeeeee;

}

html {
  scroll-behavior: smooth;
}

main {
  scroll-padding-top: 6rem; /* Ajuste para a altura do seu cabeçalho */
}
